* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(76, 153, 231);
    margin-top: 10px;
}

header {
    text-align: center;
}

h1 {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgb(11, 88, 195);
    text-align: center;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 8px;
    text-shadow: 2px 2px 2px gray;
    font-size: 30px;
}

section {
    background-color: white;
    width: 550px;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(57, 162, 248);
}

input {
    margin: 6px;
    padding: 5px;
}

.filmes {
    display: flex;
    flex-wrap: wrap;
}

.img {
    height: 160px;
    margin: 10px;    
}

button {
    padding: 18px 22px 18px 22px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(21, 181, 239);
    box-shadow: 2px 2px 3px rgb(77, 153, 235);
    border: 0 rgb(119, 140, 255);
    color: aliceblue;
    font-size: 15px;
}

button:hover {
    background-color: rgb(101, 157, 230);
}

p {
   font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgb(77, 116, 243);
    font-size: 20px;
}
